.bkgimage1 {
	background-color: #0a749c;
	background-image: url(file:///C:/Users/React_apps/tomkous-portfolio/src/images/bkgrounds/CompMind1.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}