			<p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana;">
            <b style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana;">PROJECTS</b>
			<br/>
            <a href="https://github.com/t0mk0us/BankApplication" class="my-link">
			Back-end de l'appli Bank en Java
            </a>
			<br/>
            <a href="https://github.com/t0mk0us/bank-frontend-react" class="my-link">
			Front-end de l'appli Bank en React</a>
			<br/>
            <a href="https://github.com/t0mk0us/algorithms" class="my-link">
			Algorithmes</a>
			<br/>
            <a href="https://github.com/t0mk0us/microservices" class="my-link">
			Microservices</a>
			<br/>
            <a href="https://github.com/t0mk0us/loadbalacer" class="my-link">
			Load Balancer</a>
			<br/>
            <a href="https://github.com/t0mk0us/shortenurl/tree/master" class="my-link">
			URL Shortener</a>
			<br/>
            <a href="https://github.com/t0mk0us/bank-auth0/tree/master" class="my-link">
			Authorization pour appli Bank (OAuth2)</a>
			<br/>
            </p>