/* AppComponent's private CSS styles */
h1 {
  color: #2f6176;
  background-color: white;
  font-size: 45px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  vertical-align: top;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

* {
    margin: 0;
    padding: 0;
}

.grid-container {
  display: grid;
  position: absolute;
  margin-left: 0%;
  /* grid-template-columns: 15% 35% 35% 15%; */
  grid-template-columns: 220px 530px 530px 220px;
  grid-template-rows: 75px 30px 360px 360px 1px 20px;
  gap: 0px;
  background-color: transparent;
  border-width: 1px;
  border-color: gray;
  padding: 0px;
}

.item1 {
  grid-column: 1 / 5;
  vertical-align: bottom;
  color: #2f6176;
  background-color: white;
  font-size: 45px;
  font-family: 'Verdana', Segoe UI, Tahoma, Geneva;
  font-weight: 500;
  text-align: center;
  padding-bottom: 0px;
}

.item2 {
  text-align: center;
  grid-column: 1 / 5;
  background-color: #ca6702;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
}

.item3 {
  grid-column-start: 1;
  grid-column-end: 1;
  text-align: right;
  padding-right: 20px;
  padding-top: 20px;
  color: #0a4d78;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
  line-height: 120%;
}

.item4 {
  grid-column-start: 2;
  grid-column-end: 2;
  text-align: left;
  background-color: #0a749c;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
}

.item5 {
  grid-column-start: 3;
  grid-column-end: 3;
  text-align: left;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 120%;
  padding-left: 20px;
  padding-top: 20px;
} 

.item6 {
  grid-column-start: 4;
  grid-column-end: 4;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
  background-color: #0a9396;
  color: white;
  font-size: 20px;
  line-height: 120%;
} 

.item7 {
  grid-column-start: 1;
  grid-column-end: 1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: right;
  padding-right: 20px;
  padding-top: 20px;
  background-color: #ae2012;
  color: white;
  font-size: 20px;
}

.item8 {
  grid-column-start: 2;
  grid-column-end: 2;
  text-align: left;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 120%;
  padding-left: 20px;
  padding-top: 20px;
}
.item9 {
  grid-column-start: 3;
  grid-column-end: 3;
  text-align: left;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 120%;
  padding-left: 20px;
  padding-top: 20px;
  background-color: #ee9b00;
  color: white;
} 

.item10 {
  grid-column-start: 4;
  grid-column-end: 4;
  text-align: left;
  background-color: white;
} 

.item11 {
  text-align: center;
  grid-column: 1 / 5;
}

.item12 {
  text-align: center;
  grid-column: 1 / 5;
  text-decoration: none;
  margin-top: 0px;
  background-color: white;
  color: grey;
  border-top-width: 1px;
  border-top-color: grey;
  font-size: 14px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  vertical-align: top;
}
