<!-- <h1>CSS Grid Layout</h1>
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
   <a routerLink="/navbar">NavBar</a>
   <a routerLink="/content">Content</a>
</nav> -->
<!-- <router-outlet></router-outlet> -->
<!-- <div ng-app="tamara-portfolio">
<table>
	<tbody>
		<tr colspan="4" height="20px">
			<td colspan="4"  class="headline">
				TAMARA MELNIKOVA
			</td>	
		</tr>
		<tr colspan="4">
			<td colspan="4" class="bckgheader">
					ABOUT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TECHNOLOGIES&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DOMAINS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;EDUCATION&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CONTACT
			</td>
		</tr>
    </tbody>
  </table>
</div> -->
<!-- <app-messages></app-messages>
 <app-tehnologies1></app-tehnologies1> -->

<div class="grid-container">
  <div class="item1">{{title}}</div>
  <div class="item2"><router-outlet></router-outlet></div>

  <div class="item3"><app-tehnologies1></app-tehnologies1></div>
  <div class="item4" style="background-image: url('/assets/images/bkgrounds/CompMind1.jpg')">
    <app-bkgimage1></app-bkgimage1></div>  
  <div class="item5">
    			<b style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana;">TECHNOLOGIES UTILISÉES</b>
			<br/><br/>
			#Java 8-7-11-17, #GoLang, #Angular, #React, #Jquery, #JavaScript, #Nodejs, 
			<br/>
			#JSP, #PHP, #XML, #HTML, #CSS, #Vue.js, #Junit, #JasperReports,<br />
			#IBM Process Designer, #FlexPLM, #AWS (S3 et Lambda), #MicrosoftAzure,<br />
			#GWT, #Spring, #Spring Boot, #SpringJPA, #Maven, #Struts, #ORM,<br />
			#Hibernate, #Swagger, #SonarQube et #SonarCloud,<br/>
			#Jira, #Confluence, #PL/SQL, #Oracle, #MSSQL Server, #MySQL, #Sybase,<br/>
			#Tomcat, #Weblogic, #Websphere, #Jboss, #Windows, #Unix, #Docker,<br/>
			#Jenkins, #Openshift, #Nexus Repository, #Artifactory, #Git, #GitLab, #BitBucket.
  </div> 
  <div class="item6"><app-projects></app-projects></div>

  <div class="item7"><app-tehnologies2></app-tehnologies2></div>
  <div class="item8">
    			<b style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana;">SKILLS</b>
<br/><br/>
• Develop, maintain, deploy and support Web applications
<br/>
• Solve complex technical issues
<br/>
• Create and optimize complex PL/SQL stored procedures for Oracle Databases
<br/>
• Design and Implement large Enterprise Web applications using Microservices Architecture and REST APIs
<br/>
• Write Unit and Integration test and Shell Sripts (Bash and KornShell)
<br/>
• Work using Agile approach - Scrums, Code review, Sprint review and planning
<br/>
• Document functional and technical specifications
<br/>
• Create Use Case, Architecturals, Functional and Sequential diagrams
<br/>
• Learn fast new technologies adopted by compagnies
<br/>
• Knowledge transfer and coachin of Junior developers
<br/>
• Provide exceptional service and help to internal and external clients
  </div>  
  <div class="item9">
    			<b style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana;">PROFILE</b>
<br/><br/>
• Accomplished professional with more than 15 years of professional experience in Java technologies
<br/>
• Experience of work in all the SDLC phases
<br/>
• Development, integration and maintenance of Web applications in different industries
<br/>
• Collaboration with international teams in USA, United Kindom, India, Australia, etc.
<br/>
• Languages: French, English, Ukrainian, Russian
  </div> 
  <div class="item10" style="background-image: url('/assets/images/bkgrounds/Bank.jpg')">
    
    <app-bkgimage2></app-bkgimage2></div>

  <div class="item11" style="border-top: 1px solid gray;"></div>
  <div class="item12" style="color: grey; border-top-width: 2px; border-top-color: grey;">&copy;&nbsp;Design4Logic 2025</div>
</div>
